<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <link rel="stylesheet" href="css/mainLayout.css">
                    
                    <h1><span class="oi oi-lock-locked" aria-hidden="true"></span> Not authorized</h1>
                    <div>
                        <h5>Unfortunately, you are not authorized to see this page. </h5>
                        <p>To gain access to this page please log in. If you don't have an account, you can sign up.</p>
                        <button class="btn">
                            <NavLink class="nav-link" href="login">
                                  <i class="oi oi-account-login"></i> Log in
                            </NavLink>
                        </button>
                        <button class="btn">
                            <NavLink class="nav-link" href="signup">
                                <i class="oi oi-account-logout"></i> Sign Up
                            </NavLink>
                        </button>
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
